@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 15%; 
}

.titulo img{
    width: 70%;
    height: 70%;
    
}

.botaoIniciar{
    display: flex;
    justify-content: center; 
}

#botaodeInicio{
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 20px;
    background: rgb(53, 4, 53);
    color: rgb(255, 255, 255);
    text-shadow: ;
    border: 1px solid rgb(107, 4, 107);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgb(107, 4, 107);
    transition: transform 0.2s;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-shadow: 0px 0px 3px white;
}

#botaodeInicio:hover{
    transform: scale(1.05);
}


body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/4f/0a/96/4f0a962300ed883b1403de6fbfeaa461.gif");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    transform: scale(1.1); /* evita bordas cortadas */
    z-index: -1;
}

